.form {
  height: auto;
  overflow: auto;
  display: flex;
  align-items: center;
  padding: 25px 50px;
  flex-direction: row;
  border-radius: 14px;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.control {
  margin: 0.5rem;
  display: block;
  flex-direction: column;
}

.control input {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0.1rem 0.5rem;
  width: 20rem;
  max-width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  flex-direction: column;
}

.actions button {
  font: inherit;
  color: #5a1a01;
  cursor: pointer;
  background-color: transparent;
  outline: 1px solid #5a1a01;
  border: none;
  border-radius: 25px;
  padding: 0.5rem 2rem;
}

.actions button:hover,
.actions button:active {
  background-color: #ffe6dc;
  outline: none;
}

.actions .submit {
  border: 1px solid #5a1a01;
  background-color: #5a1a01;
  color: white;
}

.actions .submit:hover,
.actions .submit:active {
  background-color: #7a2706;
}

.actions .submit:disabled {
  background-color: #1c1b1b;
}

.success {
  text-align: center;
  width: 100%;
  color: green;
  padding: 10px;
}

.error {
  text-align: center;
  width: 100%;
  color: red;
  padding: 10px;
}

.submit:disabled:hover {
  cursor: not-allowed;
}

.invalid label {
  color: #ca3e51;
}

.invalid input {
  border-color: #aa0b20;
  background-color: #ffeff1;
}
